<ion-header class="ion-no-border border_header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" shape="round" color="light" class="ion-text-capitalize" (click)="createTable()" *ngIf="!editTable">
        Crear
      </ion-button>

      <ion-button fill="clear" shape="round" color="light" class="ion-text-capitalize" (click)="sendEditTable()" *ngIf="editTable">
        Editar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="text_action" *ngIf="!editTable">
    Nueva Mesa
  </h1>

  <h1 class="text_action" *ngIf="editTable">
    Editar Mesa
  </h1>

  <form class="form_app top_form" [formGroup]="frmTable">
    <div class="title_input m_from">
      <label>Nombre</label>
    </div>
    <ion-item lines="none">
      <ion-input type="text" autocorrect="on" class="form_input" name="name" formControlName="name"></ion-input>
    </ion-item>
    <span class="frm-error" *ngIf="validUser('name')">Nombre requerido</span>

    <div class="title_input m_from">
      <label>Número de mesa</label>
    </div>
    <ion-item lines="none">
      <ion-input type="tel" autocorrect="on" class="form_input" name="number_table" formControlName="number_table"></ion-input>
    </ion-item>
    <span class="frm-error" *ngIf="validUser('number_table')">Número de mesa requerido</span>

    <div class="title_input m_from">
      <label>Capacidad</label>
    </div>
    <ion-item lines="none">
      <ion-input type="tel" autocorrect="on" class="form_input" name="capacity" formControlName="capacity"></ion-input>
    </ion-item>
    <span class="frm-error" *ngIf="validUser('capacity')">Capacidad requerida</span>
  </form>

</ion-content>
