<app-header titulo="Ordenes"></app-header>

<ion-content class="ion-padding bg_app">

  <div class="container">
    <ion-card  mode="ios">
      <ion-card-header>
        <ion-card-title>Orden #12</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-badge color="medium" mode="ios" class="spacer">Mesa: #3</ion-badge>
        <ion-badge color="medium" mode="ios" class="spacer">Total: Q50.00</ion-badge>
        <ion-badge color="warning" mode="ios" class="spacer">En preparación</ion-badge>

        <ion-accordion-group mode="ios">
          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Observaciones</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item class="description_menu">
                Limon extra, y el arroz en un plato separado.
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Mojarra frita</ion-label>
            </ion-item>

            <ion-list slot="content">
              <p class="ion-margin-top ion-margin-bottom">Precio: Q25.00 | Cantidad: 2 | Subtotal: Q50.00</p>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>

    <ion-card  mode="ios">
      <ion-card-header>
        <ion-card-title>Orden #13</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-badge color="medium" mode="ios" class="spacer">Mesa: #1</ion-badge>
        <ion-badge color="medium" mode="ios" class="spacer">Total: Q45.00</ion-badge>
        <ion-badge color="primary" mode="ios" class="spacer">Entregada</ion-badge>

        <ion-accordion-group mode="ios">
          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Observaciones</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item class="description_menu">
                N/A
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Caldo de Pezcado</ion-label>
            </ion-item>

            <ion-list slot="content">
              <p class="ion-margin-top ion-margin-bottom">Precio: Q45.00 | Cantidad: 1 | Subtotal: Q45.00</p>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>

    <ion-card  mode="ios">
      <ion-card-header>
        <ion-card-title>Orden #14</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-badge color="medium" mode="ios" class="spacer">Mesa: #4</ion-badge>
        <ion-badge color="medium" mode="ios" class="spacer">Total: 60.00</ion-badge>
        <ion-badge color="success" mode="ios" class="spacer">Completada</ion-badge>

        <ion-accordion-group mode="ios">
          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Observaciones</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item class="description_menu">
                Los camarones deben ser JUMBO.
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Camarones al ajillo</ion-label>
            </ion-item>

            <ion-list slot="content">
              <p class="ion-margin-top ion-margin-bottom">Precio: Q60.00 | Cantidad: 1 | Subtotal: Q60.00</p>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>

    <ion-card  mode="ios">
      <ion-card-header>
        <ion-card-title>Orden #15</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-badge color="medium" mode="ios" class="spacer">Mesa: #2</ion-badge>
        <ion-badge color="medium" mode="ios" class="spacer">Total: Q90.00</ion-badge>
        <ion-badge color="danger" mode="ios" class="spacer">Cancelada</ion-badge>

        <ion-accordion-group mode="ios">
          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Observaciones</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item class="description_menu">
                Servir en lata, el marinero por separado y los camarones en platos.
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Michelada con camarones</ion-label>
            </ion-item>

            <ion-list slot="content">
              <p class="ion-margin-top ion-margin-bottom">Precio: Q15.00 | Cantidad: 6 | Subtotal: Q90.00</p>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
