<app-header titulo="Usuarios"></app-header>

<ion-content class="ion-padding bg_app">
  <div class="container">
    <ion-list class="list_globals" lines="none">
      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
          <ion-label>Sergio Avendaño</ion-label>

          <ion-badge slot="end" color="success" mode="ios">Admin</ion-badge>
        </ion-item>

        <ion-item-options side="end">
          <!-- (click)="deleteClient(client)" -->
          <ion-item-option class="item_action delete">
            <ion-icon slot="top" name="trash-outline"></ion-icon>
            Eliminar
          </ion-item-option>

          <!-- (click)="editProducto(producto)" -->
          <ion-item-option class="item_action edit">
            <ion-icon slot="top" name="create-outline"></ion-icon>
            Editar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
          <ion-label>Cecilia Valencia</ion-label>

          <ion-badge slot="end" color="medium" mode="ios">Operador</ion-badge>
        </ion-item>

        <ion-item-options side="end">
          <!-- (click)="deleteClient(client)" -->
          <ion-item-option class="item_action delete">
            <ion-icon slot="top" name="trash-outline"></ion-icon>
            Eliminar
          </ion-item-option>

          <!-- (click)="editProducto(producto)" -->
          <ion-item-option class="item_action edit">
            <ion-icon slot="top" name="create-outline"></ion-icon>
            Editar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
          <ion-label>Osman Cruz</ion-label>

          <ion-badge slot="end" color="medium" mode="ios">Operador</ion-badge>
        </ion-item>

        <ion-item-options side="end">
          <!-- (click)="deleteClient(client)" -->
          <ion-item-option class="item_action delete">
            <ion-icon slot="top" name="trash-outline"></ion-icon>
            Eliminar
          </ion-item-option>

          <!-- (click)="editProducto(producto)" -->
          <ion-item-option class="item_action edit">
            <ion-icon slot="top" name="create-outline"></ion-icon>
            Editar
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
