<app-header titulo="Menús"></app-header>

<ion-content class="ion-padding bg_app">

  <div class="container">
    <ion-card  mode="ios" *ngFor="let menu of arrMenus">
      <ion-card-header>
        <ion-card-title> {{ menu.name }} </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-badge color="success" mode="ios" class="ion-margin-end" *ngIf="menu.status === 1">Disponible</ion-badge>
        <ion-badge color="danger" mode="ios" class="ion-margin-end" *ngIf="menu.status === 2">Agotado</ion-badge>
        <ion-badge color="warning" mode="ios">Precio: Q{{ menu.price | number:'.2-2'}}</ion-badge>

        <ion-accordion-group mode="ios">
          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Descripción</ion-label>
            </ion-item>

            <ion-list slot="content">
              <ion-item class="description_menu">
                {{ menu.description }}
              </ion-item>
            </ion-list>
          </ion-accordion>

          <ion-accordion  mode="ios">
            <ion-item slot="header">
              <ion-label>Opciones</ion-label>
            </ion-item>

            <ion-list slot="content">
              <div class="center_buttons">
                <ion-button fill="outline" shape="round" size="small" class="ion-margin-top ion-margin-bottom" (click)="showCreate(menu)">
                  <ion-icon slot="start" name="create-outline"></ion-icon>
                  Editar
                </ion-button>

                <ion-button fill="outline" shape="round" size="small" color="danger" class="ion-margin-top ion-margin-bottom" (click)="deleteMenu(menu)">
                  <ion-icon slot="start" name="trash-outline"></ion-icon>
                  Eliminar
                </ion-button>
              </div>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCreate()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
