/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.bg_app {
  --background: #F9F9F9;
}

ion-item {
  float: left;
  width: 100%;
  --highlight-height: 0px;

  &::part(native) {
    padding: 0;
    border: none;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }
}

ion-input {
  --padding-bottom: 8px !important;
  --padding-end: 12px !important;
  --padding-start: 12px !important;
  --padding-top: 8px !important;
  caret-color: #000;
}

ion-accordion {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.btn {
  float: left;
  height: auto;
  padding: 5px;
  font-size: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  --border-radius: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 8px;
  --padding-end: 8px;
}

.btn_full {
  width: 100%;
}

.container {
  float: left;
  width: 100%;
}

.list_globals {
  padding: 0 10px;
  border-radius: 8px;
}

.item_action {
  min-width: 68px;
  font-size: 13px;
  text-transform: capitalize;

  &.edit {
    background: var(--ion-color-secondary);
  }

  &.delete {
    background: var(--ion-color-danger);
  }

  ion-icon {
    font-size: 25px;
  }
}

.description_menu {
  font-size: 13px;
  line-height: 1.5;
}

.center_buttons {
  float: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.toast-success {
  color: #fff;
  --background: linear-gradient(to right, rgba(55,181,30,1) 0%, rgba(37,222,37,1) 100%);
}

.toast-danger {
  color: #fff;
  --background: linear-gradient(90deg,#ff6e64 0%,#ff9951);
}

.toast-info {
  color: #fff;
  --background: linear-gradient(90deg,#5477f0 0%,#6c64ee);
}
